/* colors
background:#FFCA41;
background:#E5E5E5;
background:#33333380;
*/



/* BeerList */
.BeerListCards img {
  width: 10%;
}

/* LandingPage */
img {
  width: 25%;
}

.returnArrow {
  font-size: 3rem;
}